<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="Url" value="http://put_here_your_iptv_url/"/>
    <add key="Epg" value="http://bit.ly/AVappEPG"/>
    <add key="audio" value="spa"/>
    <add key="sub" value="none"/>
    
  </appSettings>
</configuration>
